.barIcon {
  align-self: stretch;
  position: relative;
  max-height: 100%;
  width: 16px;
}
.chart {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
}
.chartTypebarMobile {
  position: relative;
  width: 343px;
  height: 192px;
  overflow: hidden;
}
