.flag02Icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.text,
.text1 {
  position: relative;
  line-height: 30px;
  font-weight: 600;
}
.text1 {
  font-size: var(--inter-14-medium-size);
  line-height: 20px;
  color: var(--primary-700);
}
.sectionHeader,
.title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title {
  padding: 0 0 0 var(--padding-sm);
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.sectionHeader {
  justify-content: space-between;
}
.text2 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.buttonGroupBase,
.buttonGroupBase1,
.buttonGroupBase2 {
  background-color: var(--gray-50);
  border-right: 1px solid var(--gray-300);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.buttonGroupBase1,
.buttonGroupBase2 {
  background-color: var(--base-white);
  z-index: 1;
}
.buttonGroupBase2 {
  z-index: 0;
}
.buttonGroup,
.headerAndOptions,
.options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonGroup {
  border-radius: var(--br-5xs);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  flex-direction: row;
}
.headerAndOptions,
.options {
  align-self: stretch;
}
.options {
  flex-direction: row;
  font-size: var(--inter-14-medium-size);
  color: var(--gray-800);
}
.headerAndOptions {
  flex-direction: column;
  gap: var(--gap-sm);
}
.mapWrap {
  flex: 1;
  position: relative;
  height: 381px;
}
.countries {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.content,
.countries,
.map,
.mapAndData,
.sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar {
  width: 248px;
  height: 380px;
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-xs);
  box-sizing: border-box;
}
.content,
.map,
.mapAndData {
  align-self: stretch;
}
.mapAndData {
  flex-direction: row;
  gap: var(--gap-5xl);
}
.content,
.map {
  flex-direction: column;
}
.content {
  border-radius: var(--br-xs);
  background-color: var(--base-white);
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--gray-200);
  padding: var(--padding-2xs) var(--padding-xs);
}
.map {
  padding: 0 var(--padding-13xl);
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--inter-20-semibold-size);
  color: var(--gray-700);
  font-family: var(--inter-14-medium);
}
